/*Global Selector*/
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-bg: #f63c08;
  --progress-bg: #f63c08;
  --progress-fill: #fff;
--radial-progress: blue;
  
}
* {
  margin: 0;
  padding: 0;

  font-family: dancing script, cursive;
  font-weight: 700;
}
/* Body Styles */
.home {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  background-image: url(../images/wolf.png);
  background-size: cover;
  background-position: center;
}
/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar ul li {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.navbar ul li a:hover {
  color: #f63c08;
  transition: color 0.3s ease;
}
.navbar ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
}
.navbar h2 {
  color: white;
  font-size: 40px;
  font-weight: 1000;
}

/* About Section Styles */
.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 60px); /* Adjust for navbar height */
  color: white;
  gap: 80px;
}
.home-text {
  text-align: left;
  width: 50%;
  height: calc(100vh - 60px);
  padding-left: 70px;
  top: 0;
  padding-top: 50px;
}
.home-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.home-text h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.home-text p {
  font-size: 26px;
  line-height: normal;
  margin-bottom: 30px;
}
.home-text h2 span{
  color: #cb1717;
}
.home-text .socialicons {
  display: flex;
  gap: 30px;
  font-size: 34px;
  color: white;
}
.home-text .socialicons a {
  color: #cb1717;
  text-decoration: none;
}
.home-text .socialicons a:hover {
  color: #f8f5f5;
  transition: color 0.3s ease;
}

#about {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;

  align-items: center;
  color: white;
}
.about-col-1 {
  width: 40%;
  padding: 20px;
  height: 100%;
}
.about-col-1 img {
  width: 90%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin-left: 50px;
  padding-bottom: 10px;
  border: #f63c08 2px solid;
}

.about-col-2 {
  width: 60%;
  padding: 20px;
  height: 100%;
  margin-right: 20px;
}
.about-col-2 h1 {
  font-size: 55px;
  margin-top: 1px;
  font-weight: 700;
}
.about-col-2 p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}
.tab-titles {
  display: flex;
  margin: 0;
  color: aliceblue;
  font-size: 30px;
  margin-top: -30px;
}
.tab-titles p {
  font-weight: 400;
  font-size: 38px;
}
.tab-links {
  margin-right: 50px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f63c08;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul {
  background: none;
}
.tab-contents ul li {
  list-style: none;
  margin: 0px;
  margin-left: -20px;
  font-size: 26px;
}
.tab-contents ul li span {
  color: brown;
  font-size: 26px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* Skill Section Styles */
#skill {
  width: 100%;
  height: fit-content;
  background-color: black;
  padding: 50px 20px;
  padding-top: 10px;
  color: #fff;
}
#skill h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;

  margin-bottom: 20px;
}
.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  height: fit-content;
  background-color: black;
  color: #fff;
  padding: 10px;
}
.skill h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}
.skill-col-1 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.skill-col-1 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.skill-col-1 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.skill-col-1 i {
  font-size: 50px;
  color: #cb1717;
  width: fit-content;
}
.skill-col-1 .top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.skill-col-2 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.skill-col-2 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.skill-col-2 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.skill-col-2 i {
  font-size: 50px;
  color: #cb1717;
  width: fit-content;
}
.skill-col-2 .top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.skill-col-3 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.skill-col-3 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.skill-col-3 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.skill-col-3 i {
  font-size: 50px;
  color: #cb1717;
  width: fit-content;
}
.skill-col-3 .top {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* Projects Section Styles */
#projects {
  width: 100%;
  height: fit-content;
  background-color: black;
  padding: 50px 20px;
  color: #fff;
}
#projects h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  height: fit-content;
  background-color: black;
  color: #fff;
}




.project-col-1 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.project-col-1 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.project-col-1 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.project-col-1 img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}








.project-col-2 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.project-col-2 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.project-col-2 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.project-col-2 img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}










.project-col-3 {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.897);
  padding: 20px;
  border-radius: 30px;
}
.project-col-3 h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
.project-col-3 p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.project-col-3 img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
/* Contact Section Styles */
#contact{
    padding: 20px 0;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: #ccd6f6;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 30px;
    color: aliceblue;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 30px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: aliceblue;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right{
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
form  a{
    text-decoration: none;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px ;
    font-size: 15px;
    background: #3d3a3a;
    padding: 10px 0;
}
.copyright p{
 
  color: #ccd6f6;
}